{{!-- Please use only inline CSS with when we send the Custom HTML Template other wise css will not applyed proparly --}}
<!DOCTYPE html>
<html lang="en" style="margin: 0; height: 100%; width: 100%; overflow: hidden;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body style="direction: initial; font: small/1.5 Arial, Helvetica, sans-serif; font-size: 0.875rem; background: #f6f8fc; height: 100%; width: 100%; overflow: hidden; font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial,
          sans-serif; margin: 0; color: #202124;">
    <div class="m_2997542426849713084container snipcss-Cistb" style="max-width: 600px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; overflow: hidden;">
      <div class="m_2997542426849713084header" style="background-color: #2c3e50; padding: 20px; text-align: center; color: #ffffff;">
        <img class="m_2997542426849713084logo CToWUd" src="https://ci3.googleusercontent.com/meips/ADKq_NbhTJvKBb23wgYieOLt1bw3fGy-sAyh6h0vq_xs_qYpW0cCUhCntBpk5-Xk0Se9cW3ZJBWaZ4v1rV6IvxFxsVStQYWIOvE71r4pIjx5eyU=s0-d-e1-ft#https://cdn-icons-png.flaticon.com/128/10002/10002041.png" title="logo" alt="logo" data-bit="iit" style="display: block; margin: 0 auto; width: 80px;" width="80">
        <h1>EMAIL OTP</h1>
      </div>
      <div class="m_2997542426849713084divider" style="height: 1px; background-color: #ecf0f1; margin: 20px 0;"></div>
      <center>
        <p>Your requested OTP for <b>Email OTP</b></p>
        <br>
        <span class="m_2997542426849713084otp" style="background: red; padding: 5px 15px 5px 15px; font-size: 20px; font-weight: bold; border-radius: 20px; color: white; background-color: #2c3e50;">{{otp}}</span>
      </center>
      <div class="m_2997542426849713084divider" style="height: 1px; background-color: #ecf0f1; margin: 20px 0;"></div>
      <div class="m_2997542426849713084footer" style="text-align: center; padding: 20px; background-color: #ecf0f1;">
        <p class="m_2997542426849713084footer-text" style="font-size: 14px; color: #95a5a6; margin: 0;">
          ©
          <strong><a href="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.rohitchouhan.com&amp;source=gmail&amp;ust=1716876339537000&amp;usg=AOvVaw1nJYsxJ5VsZTY-L6biXkS4" style="color: #15c;">www.kameshsingh.com</a></strong>
        </p>
        <div class="yj6qo"></div>
        <div class="adL"></div>
      </div>
      <div class="adL"></div>
    </div>
  </body>
</html>